:root {
  --primary-color: #2070b6;
}


.scan{
  /* width:100%; */
  display: flex;
  /* flex-wrap: wrap; */

}

.instructions{
  
  padding: 70px 0 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  color: white;
  background: #2070b6;
}

.instructions h3{
  font-weight: 700;
    font-size: 30px;
    margin-bottom: 25px;
}

.instructions ul{
  list-style-type: none;
  line-height: 35px;
}

.star {
  margin-right: 10px;
  margin-left: 0;
  color:#00ccff;
}

.instructions p{
  margin-top: 50px;
}

.instructions img{
  width: 220px;
}

@media (max-width:980px) {
  .scan{
    flex-direction: column;
  }
  .instructions{
    width:100%;
  }

  .instructions p{
    width:80%;
    margin: 50px 0 20px 15px;
  }
}


/* -------------------------------------------------------------------- */

h1{
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
}

h2{
  text-align: center;
  margin: 30px auto;
  color: #2070b6;
}

label {
  display: block;
}

input[type=number] {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.choices{
  display:flex;
  align-items: baseline;
  justify-content:flex-start;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex:1;
  width: 100%;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 200%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}

.progress-step-active {
  background-color: var(--primary-color);
  color: #f3f3f3;
}

.form {
  width: 60%;
  margin: 0 30px;
  border-radius: 0.35rem;
  padding: 1.5rem;
}

.form-step {
  display: none;
  transform-origin: top;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}

.input-group label:first-child{
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 20px;
}

.choices input[type=radio]{
  margin-right: 7px;
}

.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}

.form-fill input{
  background-color: #eee;
  width: 100%;
  border-width: 0;
  color: #999;
  font-size: 14px;
  padding: 16px;
}

input[type=submit]{
  border: none;
  font-size: 16px;
  outline: none;
}

@media (max-width:980px) {
  .form{
    width: 90%;
    margin: 5px auto;
  }
}

@media (max-width:767px) {
  .progressbar{
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (max-width:600px) {
  .form{
    width:98%;
    margin: 0 auto;
    padding: 5px;
  }
  .progress-step::after {
    font-size: 0.75rem;
  }
  .progressbar{
    padding: 0;
  }
}

