@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.nav {
  height: 80px;
  width: 100%;
  background-color: #2070b6!important;;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  font-weight: 900;
  margin-left: 100px;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: #3f7baf;
}

.nav > #nav-check {
  display: none;
}

.nav button{
  border-radius: 5px;
  border: 2px solid red;
  width: 140px;
  font-size: 16PX;
  padding-bottom: 10px;
  margin-right: 60PX;
  cursor: pointer;
  color: red;
  font-weight: 600;
}

@media (max-width:980px) {
  .nav{
    height:130px;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 120px;
    top: 32px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    cursor: pointer;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(255,255,255, 0.3);
    
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #2070b6;
    cursor: pointer;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: -80px;
  }
  .nav > .nav-links > a {
    display: block;
    margin-left: 33px;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: auto;
    margin-top: 35px;
    overflow-y: auto;
    text-align: left;
    width: 85%;
  }
}

@media (max-width:767px) {
  .nav > .nav-btn {
    right: 30px;
    top: 32px;
  }

  .nav button{
    margin-left: 30px;
  }
}

/* --------------------- info section ------------------------ */

.info{
  background-color: black;
  padding: 15px 0;
  color:#eee;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}

.info > div{
  /* width: 30%; */
  display: flex;
  /* align-items: center;
  justify-content:space-between; */
}

.info > div > p{
  margin-left: 15px;
}

.info > div > p >a{
  text-decoration: none;
  color: white;
}

.info > div > p > a:last-child {
    /* margin-left: 50px; */
}

.info > div > p > img{
  margin-right: 15px;
}

@media (max-width:1200px) {
  /* .info{
    flex-direction: column;
  }
  .info > div{
    margin-bottom: 30px;
    margin-left: 50px;
    text-align: left;
    width: 85%;
  }
  .info > div >p> br{
    display: none;
  } */
}

@media (max-width:980px) {
  .info{
    flex-direction: column;
  }
  .info > div{
    margin-bottom: 30px;
    margin-left: 50px;
    text-align: left;
    width: 85%;
  }
  .info > div >p> br{
    display: none;
  }

  .info > div > p > a:last-child {
    /* margin-left: 10px; */
}

}


/* ---------------------------------- hero section ---------------------- */
/* https://s.samenict.nl/wp-content/uploads/2021/10/BGPHONE.png */

.hero{
  background-size: auto;
  background: url('https://s.samenict.nl/wp-content/uploads/2021/10/BGPHONE.png');
  height: 80vh;
  background-size: cover;
  background-position: 50%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.hero strong{
  font-size: 100px;
  font-weight: 900;
}

.hero > div{
  margin-top: 20px;
}

.hero > div p{
  font-size: 20px;
  font-weight: 500;
}

@media (max-width:980px) {
  .hero strong{
    font-size: 50px;
    font-weight: 900;
  }
}


/* --------------------- cards ----------------------- */

.cards{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.cards > div{
  text-align: center;
  width:30%;
  padding: 13px;
  max-width: 550px;
}

.cards > div p, .cards > div h4{
  margin: 10px auto;
}

@media (max-width:980px) {
  .cards{
    flex-direction: column;
    justify-content:center
  }
  .cards > div{
    justify-content: center;
    margin: 0 auto;
  }
}

@media (max-width:767px) {
  .cards > div {
    width: 70%;
    /* margin: 0 auto; */
    flex-direction: column;
    /* justify-content:center; */
    text-align: center;
  }
}

/* ------------------------  button afspraak ---------------------  */

.afspraak {
  width: 60%;
  display: flex;
  justify-content:center;
  text-align: center;
  margin: 90px auto;
  font-weight: 700;
  font-size: 30px;
  background-color: #1269b5;
  color: white;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 10px 22px;
  cursor: pointer;
}

.afspraak:hover{
  background-color: white;
  color: #2070b6;
  transition:300 ease-in;
}

/* -------------------- video =------------------ */

video{
  margin: 0 auto;
  width: 80%;
}

/* ------------------------- services ---------------------- */

.services{
  text-align: center;
  margin-top: 100px;
}

.services .image img{
  width: 80%;
}

.services h2{
  font-size: 50px;
}

.boxes{
  margin-top: 30px;
  display:flex;
  justify-content: space-evenly;
  text-align: center;
}

.boxes .box{
  font-size: 16px;
  color: rgba(255,255,255,0.7);
  line-height: 1.8em;
  background-color: #3f7eb5;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  width: 25%;
  padding: 50px 34px;
}

.boxes .box:nth-child(2) {
  background-color: #1269b5;
}

.boxes .box h4{
  margin: 20px 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

@media (max-width:980px) {
  .boxes{
    flex-direction: column;
  }
  .boxes .box{
    width: 85%;
    margin: 40px auto;
  }
}

/* ---------------------  sign-up ---------------------  */

.sign-up{
  margin: 40px auto;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 40px 0;
  width: 80%; 
  text-align: center;
  line-height: 40px;
}

.sign-up h2{
  font-weight: 900;
  font-size: 30px;
  color: #3f7eb5;
}

.sign-up input{
  width: 45%;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  padding: 7px;
  margin-top: 15px;
}

.sign-up button {
  font-size: 13px;
    border: none;
    border-radius: 5px;
    letter-spacing: .03em;
    color: #fff;
    background-color: #3f7eb5;
    line-height: 32px;
    padding: 0 18px;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
}

@media (max-width:980px) {
.sign-up input, .sign-up button{
  width: 100%;
  margin: 5px auto;
}
}

/* ----------------------- footer -------------------- */
footer {
  margin-top: 60px;
  padding:20px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  background: #3f7eb5;
}

footer > div > a{
  text-decoration: none;
  color: white;
  font-weight: 900;
}

footer > div:nth-child(2){
  display: flex;
  flex-direction: column;
}

@media (max-width:980px) {
  footer{
    flex-direction: column;
  }
  footer div{
    margin: 10px;
    padding: 10px;
  }
}


/* ----------------  Ons team page -------------------- */

.team-page{
  padding: 100px 0;
  background: #f3f5f9;
}

.ons-team{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4em;
  margin: 40px auto;
}

.team{
  display: flex;
  background: #f3f5f9;
  flex-wrap: wrap;
  justify-content: center;
}
.member{
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 30px;
  border-radius: 5px;
  text-align: center;
  width: 27%;
  margin: 10px;
  background: white;
  border: gray;
}

.member img{
  width: 100px;
  border-radius: 50%;
}

@media (max-width:980px) {
  .team{
    flex-direction: column;
    flex-wrap: nowrap;    
  }
  .member{
    width: 80%;
    margin: 20px auto;
  }
}


/* --------------------------- contact page -----------------------  */

.contact-page{
  padding-top: 100px;
 }

.contact-page h1{
  color: #3ea5ff!important;
    text-align: center;
    text-shadow: 0.02em 0.08em 0.08em rgb(0 0 0 / 40%);
}

.form-contact{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  position: relative;
}

.form-contact div{
  display: flex;
  justify-content:space-between
}

.form-contact div p{
  width: 48%;
  line-height: 25px;
  display: flex;
  flex-direction: column;
}


@media (max-width:980px) {
  .form-contact div{
    display: flex;
    flex-direction: column;
  }
  .form-contact div p{
    width: 100%;
  }
}

.form-contact textarea{
  background: #eee;
  border-width: 0;
  padding: 16px;
}

.form-contact label{
  margin-bottom: 5px;
  margin-top: 20px;  
}

.form-contact input{
  background-color: #eee;
  width: 100%;
  border-width: 0;
  color: #999;
  font-size: 14px;
  padding: 16px;
}

.form-contact button{
  border: 2PX solid #3ea5ff;
  color: #3ea5ff;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  width: 140px;
  float: right;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 25px;
  position: absolute;
  right: 0;
  background: white;
  cursor: pointer;
  bottom:-85px;
}

.form-contact button:hover{
  background-color: #eee;
  border: none;
}

/* ----------------------------- bedankt.html ------------------------  */

.bedankt{
  margin: 70px auto;
  font-size: 30px;
  color: #3ea5ff;
  text-align: center;
  font-weight: 700;
}

.back{
  text-align: center;
  font-size: 22px;
}

.back a{
  text-decoration: none;
  color: #3ea5ff;
  font-weight: 700; 
}

.back a:hover{
  transition: all 0.5s ease-out;
  color:#1269b5;
  font-size: 24px;
  margin-bottom: 5px;
  text-decoration: underline;
}

/* ----- mailchimp style ----- */
.mc_embed_signup_scroll{
  width: 80%;
  /* border-top: 11px solid gray ;
  border-bottom: 1px solid gray; */
  margin: 40px auto;
}
